name: Java CI with Maven

on:
  [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: maven
        server-id: tbb-github
        server-username: GITHUB_USER_REF
        server-password: GITHUB_TOKEN_REF
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      env:
        GITHUB_USER_REF: noone
        GITHUB_TOKEN_REF: ${{ secrets.PACKAGE_ACCESS_TOKEN}}